@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";

    @*
        One can also specify the starting layout file in any .cshtml file.
        
        If one sets the file to null, this view **will not** use a layout
        page.
        
        The view will now display, but it will "look dull" because it
        has no layout page.
    *@

    Layout = null;
}

<h2>The Latest Reviews</h2>

We are showing the latest @Model.Count() reviews.

@*
    I had not noticed this before, but one **must** begin a foreach 
    statement with an '@' sign; that is, @foreach. If one forgets (and I
    will forget), the compiler complains that the iteration variable is
    not recognized (because it is treating "foreach (var item....") as
    literal text.
*@

@foreach (var item in Model)
{
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
